<div class="main-content">
    <div class="section-content section-content-p30">
        <h4>Category: {{ currentCategoryName }}</h4>
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let product of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{ product.id }}">
                            <img src="{{ product.imageUrl }}" class="img-responsive" />
                        </a>
                        <a routerLink="/products/{{ product.id }}">
                            <h1>{{ product.name }}</h1>
                        </a>
                        <div class="price">{{ product.unitPrice | currency:'USD'}}</div>
                        <a href="#" class="primary-btn" style="text-decoration: none;">Add to cart</a>
                    </div>
                </div>
                <!-- If no products are found after filter/search -->
                <!-- ? is SAFE NAVIGATION OPERATOR IN ANGULAR THAT HANDLES CASES OF NULL POINTER EXCEPTION-->
                <div *ngIf="products?.length==0" class="alert alert-warning col-md-12" role="alert">
                    Please Try Again...No Products Found...
                </div>
            </div>
            <!-- Footer Pagination-->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
                                <!-- L.H.S contains Angular Components And R.H.S contains this Product list component -->
                                <!-- [(page)] is two way Data binding -->
                                <!-- [pageSize] is one way Data binding -->
                                <!-- (pageChange) is Event binding -->
                                <ngb-pagination [(page)]="thePageNumber"
                                                [pageSize]="thePageSize"
                                                [collectionSize]="theTotalElements"
                                                (pageChange)="listProducts()"
                                >
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>s
        </div>
    </div>
</div>