<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- Customer Group-->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="firstName?.errors?.required || firstName?.errors?.notOnlyWhitespace">
                                        First Name Is Required
                                    </div>
                                    <div *ngIf="firstName?.errors?.minlength">
                                        First Name must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="lastName?.errors?.required || lastName?.errors?.notOnlyWhitespace">
                                        Last Name Is Required
                                    </div>
                                    <div *ngIf="lastName?.errors?.minlength">
                                        Last Name must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="email?.errors?.required || email?.errors?.notOnlyWhitespace">
                                        Email Field Is Required
                                    </div>
                                    <div *ngIf="email?.errors?.pattern">
                                        Email must have valid pattern
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shipping Address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                                <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressCountry?.errors?.required">
                                        Country Is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressStreet?.errors?.required || shippingAddressStreet?.errors?.notOnlyWhitespace">
                                        Street Name Is Required
                                    </div>
                                    <div *ngIf="shippingAddressStreet?.errors?.minlength">
                                        Street must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressCity?.errors?.required || shippingAddressCity?.errors?.notOnlyWhitespace">
                                        City Name Is Required
                                    </div>
                                    <div *ngIf="shippingAddressCity?.errors?.minlength">
                                        City must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>
                                <div *ngIf="shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressState?.errors?.required">
                                        State Is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressZipCode?.errors?.required || shippingAddressZipCode?.errors?.notOnlyWhitespace">
                                        Zip Code Value Is Required
                                    </div>
                                    <div *ngIf="shippingAddressZipCode?.errors?.minlength">
                                        ZipCode must be at least 4 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Add checkbox if Billing and Shipping Address Are Same -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing
                        address same as
                        shipping address
                    </label>
                </div>

                <!-- Billing Address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                                <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressCountry?.errors?.required">
                                        Country Is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressStreet?.errors?.required || billingAddressStreet?.errors?.notOnlyWhitespace">
                                        Street Value Is Required
                                    </div>
                                    <div *ngIf="billingAddressStreet?.errors?.minlength">
                                        Street must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressCity?.errors?.required || billingAddressCity?.errors?.notOnlyWhitespace">
                                        City Value Is Required
                                    </div>
                                    <div *ngIf="billingAddressCity?.errors?.minlength">
                                        City must be at least 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{ state.name }}
                                    </option>
                                </select>
                                <div *ngIf="shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressState?.errors?.required">
                                        State Is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressZipCode?.errors?.required || billingAddressZipCode?.errors?.notOnlyWhitespace">
                                        Zip Code Value Is Required
                                    </div>
                                    <div *ngIf="billingAddressZipCode?.errors?.minlength">
                                        Zipcode must be at least 4 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Credit Card -->
                <!-- <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option style="background-color: lightblue;">VISA</option>
                                    <option style="background-color: lightblue;">MASTER CARD</option>
                                </select>
                                <div *ngIf="cardType?.invalid && (cardType?.dirty || cardType?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="cardType?.errors?.required">
                                        Card Type Is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Name On Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div *ngIf="nameOnCard?.invalid && (nameOnCard?.dirty || nameOnCard?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="nameOnCard?.errors?.required || nameOnCard?.errors?.notOnlyWhitespace">
                                        Name On Card Is Required
                                    </div>
                                    <div *ngIf="nameOnCard?.errors?.minlength">
                                        Name On Card must be at least 4 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                                <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="cardNumber?.errors?.required || cardNumber?.errors?.notOnlyWhitespace">
                                        Card Number Is Required
                                    </div>
                                    <div *ngIf="cardNumber?.errors?.pattern">
                                        Card Number must be exactly 16 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                                <div *ngIf="securityCode?.invalid && (securityCode?.dirty || securityCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="securityCode?.errors?.required || securityCode?.errors?.notOnlyWhitespace">
                                        Security Code Is Required
                                    </div>
                                    <div *ngIf="securityCode?.errors?.pattern">
                                        Security Code must be exactly 4 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths" style="background-color: lightblue;">
                                        {{ month }}
                                    </option>
                                </select>
                                <div *ngIf="expirationMonth?.invalid && (expirationMonth?.dirty || expirationMonth?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="expirationMonth?.errors?.required">
                                        Expiration Month Is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label style="color: blue;">Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears" style="background-color: lightblue;">
                                        {{ year }}
                                    </option>
                                </select>
                                <div *ngIf="expirationYear?.invalid && (expirationYear?.dirty || expirationYear?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="expirationYear?.errors?.required">
                                        Expiration Year Is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> -->

                <!-- Stripe Elements Credit Card Section-->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Debit or Credit Card</h3>
                    <div id="card-element">
                        <!-- Stripe element will be inserted here -->
                    </div>
                    <!-- used to display errors, if any -->
                    <div id="card-errors" class="displayError.textContent!=='': 'alert alert-danger mt-1">
                        
                    </div>
                </div>

                <!-- Order Details - Review Your Order -->
                <div class="form-area">
                    <h3>Review Your Order!</h3>

                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency: 'USD'}}</p>
                </div>

                <!-- Submit Form Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>